*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #DDDDDA;    
}
nav{
    font-family: 'Playfair Display SC', serif;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label.logo{
    font-size: 35px;
    padding-left: 60px;
    color: #4A707A;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    float: left;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    
    color: #4A707A;
    font-size: 17px;
    padding:30px 40px;
    border-radius: 3px;
    text-transform: uppercase;
}
.hello_name{
    color: #4A707A;
    font-size: 17px;
    background-color:#E2CFC9;
    padding: 0.5rem 1rem; 
    margin: 0px 60px; 
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    float: left;
  
}
a.active, a:hover{
    color:#37545c ;
}
ul li a:hover, a:active{
    text-decoration: underline;
}
.checkbtn{
    font-size: 20px;
    color:#4A707A;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display:none;
    cursor: pointer;
}
#check{
    display:none;
}
.dropdown_menu{
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: #C2C8C5;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 180px;
}
.dropdown_menu.open a:hover, a:active{
    color:#37545c ;
    text-decoration: underline;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li a{
    color: #4A707A;
}

@media (max-width:992px){
    .checkbtn{
        display:block;
    }
    nav ul li a, .hello_name{
        display: none;    
    }
    .dropdown_menu{
        display: block;
    }
    /* ul{
        position:fixed;
        width:100%;
        height:100vh;
        background: #3E54D3;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .2s;
    }
    nav ul li{
       display:block; 
       margin: 50px 0;
       line-height: 30px;
    }
    nav ul li a{
       font-size: 20px;
    }
    a:hover,a.active{
        color:#37545c ;
        text-decoration: underline;
    } */
    /* #check:checked ~ ul{
        left: 0
    } */

}
@media (max-width: 576px){
    .logo {
        padding-bottom: 25px; 
    }
    .checkbtn{
        padding-bottom: 25px;
    }
    .dropdown_menu {
        left: 2rem;
        width:unset;
    }
}