*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #fdfdfd;    
}
/* navigation bar */
nav{
    font-family: 'Playfair Display SC', serif;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd;
}
label.logo a{
    font-size: 35px;
    padding-left: 60px;
    color: #264E49;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    float: left;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    
    color: #264E49;
    font-size: 17px;
    padding:30px 40px;
    border-radius: 3px;
    text-transform: uppercase;
}
/* khung chào mừng chuẩn bị làm----------------------------------------- */
.hello_name{
    color: #264E49;
    font-size: 17px;
    background-color:#FFC988;
    padding: 0.5rem 1.5rem; 
    margin: 0px 60px; 
    border: none;
    outline: none;
    border-radius: 150px;
    font-weight: bold;
    float: left;
  
}
a.active, a:hover{
    color:#37545c ;
}
ul li a:hover, a:active{
    text-decoration: underline;
}
.checkbtn{
    font-size: 20px;
    color:#264E49;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display:none;
    cursor: pointer;
}
#check{
    display:none;
}
/* Dropdown Menu ------------------------------------------------------*/
.dropdown_menu{
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: #C2C8C5;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0px 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0, 0.5);
}
.dropdown_menu.open{
    height: 180px;
}
.dropdown_menu.open a:hover, a:active{
    color:#37545c ;
    text-decoration: underline;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li a{
    color: #264E49;
}
/* chatbox----------------------------------------------------------------------------*/
.chatbot{
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    font-family: 'Chivo', serif;
    background:#F9E2AE;
    overflow: hidden;
    width: 420px;
    right: 40px;
    bottom: 100px;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0px 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0, 0.5);
    transition: all 0.1s ease;
}
.chatbot header{
    font-family: 'Playfair Display SC',serif;
    background: #264E49;
    padding: 16px 0;
    text-align: center;
    position: relative;
}
.chatbot header span{
    position: absolute;
    right: 20px;
    top: 50%;
    color:#fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
}
.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;
}
.chatbot .chatbox{
    height: 410px;
    overflow-y: auto;
    padding: 30px 20px 100px;
}
.chatbot .chat{
    display: flex;   
}
.chatbot .chat p{
    color:#fff;
    max-width: 75%;
    white-space: pre-wrap;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #9DB6CF;
}
.chatbot .chat p.error {
    color: #721C24;
    background: #f8d7da;
}

.chatbot .incoming p{
    color:black;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}
.chatbot .incoming span{
    height: 32px;
    width:32px;
    background: #264E49;
    color:#fff;
    text-align: center;
    align-self: flex-end;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px  0; 
}
.chatbot .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbot .chat-input{
    position: absolute;
    display: flex;
    gap:5px;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    border-top:1px solid #ccc;
}
.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    max-height: 180px;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}
.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #264E49;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}
.chat-input textarea:valid ~ span{
    visibility: visible;
}
.chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color:#fff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #264E49;
    border-radius: 50%;
    transition: all 0.2s ease ;
}
.show-chatbot .chatbot-toggler{
    transform: rotate(90deg);
}
.chatbot-toggler span{
    position: absolute;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}
.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;   
}
.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
@media (max-width:992px){
    .checkbtn{
        display:block;
    }
    nav ul li a, .hello_name{
        display: none;    
    }
    .dropdown_menu{
        display: block;
    }
   

}
@media (max-width: 576px){
    .logo {
        padding-bottom: 25px; 
    }
    .checkbtn{
        padding-bottom: 25px;
    }
    .dropdown_menu {
        left: 2rem;
        width:unset;
    }
}
@media (max-width: 490px){
    .chatbot{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .chatbot .chatbox{
        height: 90%;
    }
    .chatbot header span{
        display: block;
    }
}