*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin: 0;    
}
nav{
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    width: 100%;
    background-color: #4F80E2;

}
label.logo{
    font-size: 35px;
    padding: 0px 100px;
    color: white;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding:30px 40px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background-color: #15CDCA;
    transition:2s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;

}
@media (max-width: 952px){
    labe.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background: #3E54D3;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .2s;
    }
    nav ul li{
       display:block; 
       margin: 50px 0;
       line-height: 30px;
    }
    nav ul li a{
       font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:#15CDCA;
    }
    #check:checked ~ ul{
        left: 0
    }
}